*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #5499C7 ;
    font-family: "Times New Roman", sans-serif;
  }

h4{
    margin-left: 40px;
    font-size: 25px; 
    color:#44107E;
    letter-spacing: 1px;
}
.login{
    overflow: hidden;
    background-color:rgb(34,193,195);
    padding: 40px 30px 30px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(19, 19, 17, 0.5);
  }
  .change{
    overflow: hidden;
    background-color:rgb(34,193,195);
    padding: 40px 30px 30px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(19, 19, 17, 0.5);
  }

  .signin{
    overflow: hidden;
    background-color: rgb(34,193,195);
    padding: 70px 30px 30px 40px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
  
    left: 35%;
    width: 600px;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(19, 19, 17, 0.5);
  }
  .form-head{
    background-color: #113B5D;
  }
  .login > input, .change > input {
    font-family: "Times New Roman", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .signin > input{
    font-family: 'Lucida Casual', 'Comic Sans MS';
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .login > button, .change > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #17A0CF;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .signin > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #17A0CF;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .login > button:hover, .change > button:hover {
    background-color: #0D6685;
  }
  .signin > button:hover {
    background-color: #0D6685;
  }
  a{
    text-decoration: none;
    color: rgba(180, 57, 57, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }

 